{% extends "kakeiboapp/base.html" %}
<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <!-- カードヘッダー -->
      <div class="card-header bg-primary text-light">
        <h4>Log in</h4>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {{ form.non_field_errors }}
          {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <br>
          {% endfor %}
          <button type="button submit" class="btn btn-primary" >ログイン</button>
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
          <div class="text-center">
            <p>Not a member? <a href="{% url 'accounts:signup' %}">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% comment %} {% extends "kakeiboapp/base.html" %} 
{% block title %}ログイン{% endblock %}
{% block content %}
<h1>Login</h1>
    {% if error_message %}
    <p><strong style="color: red;">{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <label for="email">メールアドレス</label>
        {{ form.as_p }}
        <p><input type="text" name="email" id="email" value="email"></p>    
        <br>
        <label for="password">パスワード</label>
        <p><input type="password" name="password" id="password" value=""></p>
        <br>
        <input type="submit" value="login">
    </form>
{% endblock %} {% endcomment %}